<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <title>Sofa Control</title>

  <link rel="stylesheet" href="/bower_components/chocolatechip-ui/chui/chui.ios-3.0.2.css">
  <script src="/bower_components/chocolatechip-ui/chui/chocolatechip-3.0.2.js"></script>
  <script src="/bower_components/chocolatechip-ui/chui/chui-3.0.2.js"></script>

  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
  <!--[if IE 7]>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome-ie7.css">
  <![endif]-->

  <script src="/bower_components/jquery/jquery.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-localstorage/angular-local-storage.js"></script>

  <link rel="stylesheet" href="/assets/stylesheets/style.css">
</head>
<script>
$(function() {
  (function(chui) {
    chui.isiOS = true;
    UISlideout();

    if (chui.isiOS6) $('body').addClass('isiOS6');
    $('.tabbar-panel').addClass('hidden');
    $('.tabbar a.button').on('singletap', function(e) {
      $('.tabbar-panel').addClass('hidden');
      $('.tabbar a.selected').removeClass('selected');
      $(this).addClass('selected');

      var id = $(this).attr('data-panel');
      var article = $(this).attr('data-article');
      var init = $(this).attr('data-init');

      $(id).removeClass('hidden')
      if(typeof init === "string") {
        angular.element(document.getElementById(article)).scope()[init]()
      }
    });

    $('.mainnav').on('singletap', 'li', function(e) {
      var current_article = $('#' + $(this).attr('data-show-article'));
      $('article, nav:not("#global-nav")').addClass('hidden').removeClass('current');
      current_article.removeClass('hidden').addClass('current show');
      current_article.prev().removeClass('hidden').addClass('current show');
      angular.element(current_article.get(0)).scope().init();
    });

    $('article, nav:not("#global-nav")').removeClass('current show').addClass('hidden');

    var firstItem = $('.mainnav li:first');
    angular.element(firstItem.get(0)).triggerHandler('click');
    firstItem.trigger('singletap');

  })(window.$chocolatechip);
});
</script>
<body ng-app="sofaControlApp" class="hasTabBar">
  <!-- TABBARS -->
  <!-- Tabbar: SABnzbd -->
  <div class="tabbar" ng-show="state == 'sabnzbd'">
    <a class="button" data-panel="#queue" data-article="sabnzbd">
      <span class="icon"><i class="icon-tasks"></i></span> <label>Queue</label>
    </a>
    <a class="button" data-panel="#search" data-article="sabnzbd" data-init="prepareSearch">
      <span class="icon"><i class="icon-search"></i></span> <label>Search</label>
    </a>
    <a class="button" data-panel="#history" data-article="sabnzbd" data-init="getHistory">
      <span class="icon"><i class="icon-archive"></i></span> <label>History</label>
    </a>
    <a class="button" data-panel="#stats" data-article="sabnzbd">
      <span class="icon"><i class="icon-bar-chart"></i></span> <label>Stats</label>
    </a>
  </div>

  <!-- Tabbar: Sick Beard -->
  <div class="tabbar" ng-show="state == 'sickbeard'">
    <a class="button" data-panel="#sb_shows" data-article="sickbeard" data-init="getShows">
      <span class="icon"><i class="icon-youtube-play"></i></span> <label>Shows</label>
    </a>
    <a class="button" data-panel="#sb_search" data-article="sickbeard" data-init="resetShowState">
      <span class="icon"><i class="icon-plus"></i></span> <label>Add show</label>
    </a>
    <a class="button" data-panel="#sb_history" data-article="sickbeard" data-init="getHistory">
      <span class="icon"><i class="icon-archive"></i></span> <label>History</label>
    </a>
    <a class="button" data-panel="#sb_stats" data-article="sickbeard" data-init="getStats">
      <span class="icon"><i class="icon-bar-chart"></i></span> <label>Stats</label>
    </a>
  </div>

  <!-- Tabbar: CouchPotato -->
  <div class="tabbar" ng-show="state == 'couchpotato'">
    <a class="button" data-panel="#cp_wanted" data-article="couchpotato">
      <span class="icon"></span> <label>Wanted</label>
    </a>
  </div>

  <!-- Tabbar: Settings -->
  <div class="tabbar" ng-show="state == 'settings'">
    <a class="button" data-panel="#settings_sabnzbd" data-article="settings">
      <span class="icon"></span> <label>settings</label>
    </a>
  </div>

  <!-- SABnzbd Views -->
  <nav>
    <h1>SABnzbd</h1>
  </nav>
  <article id='sabnzbd' ng-controller="SabnzbCtrl">
    <section>
      <div id="queue" class="tabbar-panel">
        <h2>Queue <small>({{queue.length}} items)</small></h2>
        <ul class='list' ng-show="queue.length > 0">
          <li class='comp' ng-repeat="item in queue">
            <div>
              <h3>{{item.filename}}</h3>
              <h4>{{item.mbleft}} / {{item.mb}} MB</h4>
            </div>
            <aside>
              <h4>{{item.timeleft}}</h4>
              <span class='nav'></span>
            </aside>
          </li>
        </ul>
      </div>

      <div id="search" class="tabbar-panel">
        <h2>Search</h2>
        <form ng-submit="search(query, providerIndex)">
          <ul ui-implements='form' class='list'>
            <li class='comp'>
              <div>
                <label for='query'>Search query:</label>
              </div>
              <aside>
                <input id="query" type="text" ng-model="query" autocapitalize="off" autocorrect="off" required>
              </aside>
            </li>
          </ul>
          <h2>NZB search providers:</h2>
          <ul class='list' id="providerList">
            <li data-index="{{$index}}" ng-repeat="provider in providers"><h3>{{provider.name}}</h3></li>
          </ul>
        </form>

        <ul class='list' ng-show="searchResult.entries.length > 0">
          <li class='comp' ng-repeat="entry in searchResult.entries" ng-click="download(entry)">
            <div>
              <h3>{{entry.title}}</h3>
              <h4>{{entry.contentSnippet}}</h4>
            </div>
            <aside>
              <span class='nav'></span>
            </aside>
          </li>
        </ul>
      </div>

      <div id="history" class="tabbar-panel">
        <h2>History</h2>
        <ul class='list' ng-show="history.length > 0">
          <li class='comp' ng-repeat="item in history">
            <div>
              <h3>{{item.name}}</h3>
              <h4>Finished in: {{secondsToTime(item.download_time)}}</h4>
            </div>
            <aside>
              <h4>{{item.status}}</h4>
              <span class='nav'></span>
            </aside>
          </li>
        </ul>
      </div>

      <div id="stats" class="tabbar-panel">
        <h2>Stats</h2>

        <ul class='list'>
          <li class='switched'>
            <h3>Status</h3>
            <h4>{{stats.status}}</h4>
          </li>
          <li class='switched'>
            <h3>Download speed</h3>
            <h4>{{stats.kbpersec}}</h4>
          </li>
          <li class='switched'>
            <h3>Time left</h3>
            <h4>{{stats.timeleft}}</h4>
          </li>
          <li class='switched'>
            <h3>Disk1</h3>
            <h4>{{stats.diskspace1}} GB/ {{stats.diskspacetotal1}} GB</h4>
          </li>
          <li class='switched'>
            <h3>Disk2</h3>
            <h4>{{stats.diskspace2}} GB/ {{stats.diskspacetotal2}} GB</h4>
          </li>
          <li class='switched'>
            <h3>Uptime</h3>
            <h4>{{stats.uptime}}</h4>
          </li>
          <li class='switched'>
            <h3>Version</h3>
            <h4>{{stats.version}}</h4>
          </li>
        </ul>
      </div>
    </section>
  </article>

  <!-- Sick Beard Views -->
  <div ng-controller="SickBeardCtrl">
    <nav>
      <a class="button backTo" ng-show="showState.show != null && showState.season == null" ng-click="setShow(null)">Back</a>
      <a class="button backTo" ng-show="showState.show != null && showState.season != null" ng-click="setSeason(null, null)">Back</a>
      <h1>Sick Beard</h1>
    </nav>
    <article id='sickbeard'>
      <section id="sickbeard_main">
        <div id="sb_shows" class="tabbar-panel">
          <div ng-show="showState.show == null && showState.season == null">
            <h2>Continuing</h2>
            <ul class='list' ng-show="shows.length > 0">
              <li class='comp' ng-repeat="item in shows | orderBy:'show_name' | filter:statusContinuing()" ng-click="setShow(item)">
                <aside>
                  <img ng-src="{{getPoster(item)}}" height="80px" onerror="this.src='http://jmundorf.edublogs.org/files/2010/09/question-mark.jpeg'" />
                </aside>
                <div>
                  <!--  -->
                  <h3>{{item.show_name}}</h3>
                  <h4>{{item.network}} - {{item.quality}}</h4>
                </div>
                <aside>
                  <h4>{{item.next_ep_airdate}}</h4>
                  <span class='nav'></span>
                </aside>
              </li>
            </ul>

            <h2>Other</h2>
            <ul class='list' ng-show="shows.length > 0">
              <li class='comp' ng-repeat="item in shows | orderBy:'show_name' | filter:statusNotContinuing()" ng-click="setShow(item)">
                <aside>
                  <img ng-src="{{getPoster(item)}}" height="80px" onerror="this.src='http://jmundorf.edublogs.org/files/2010/09/question-mark.jpeg'" />
                </aside>
                <div>
                  <!--  -->
                  <h3>{{item.show_name}}</h3>
                  <h4>{{item.network}} - {{item.quality}}</h4>
                </div>
                <aside>
                  <h4>{{item.status}}</h4>
                  <span class='nav'></span>
                </aside>
              </li>
            </ul>
          </div>
          <!-- Seasons -->
          <div ng-show="showState.show != null && showState.season == null">
            <img ng-src="{{getBanner(showState.show)}}" height="80px" onerror="this.src='http://jmundorf.edublogs.org/files/2010/09/question-mark.jpeg'" class="banner" />

            <h2>Seasons</h2>
            <ul class='list' role='list'>
              <li class='comp' ng-repeat="season in seasons" ng-click="setSeason($index, season)">
                <div>
                  <h3>Season {{$index}}</h3>
                  <h4>{{numberOfEpisodes(season)}} episodes</h4>
                </div>
                <aside>
                  <span class='nav'></span>
                </aside>
              </li>
            </ul>
          </div>
          <div ng-show="showState.show != null && showState.season != null">
            <img ng-src="{{getBanner(showState.show)}}" height="80px" onerror="this.src='http://jmundorf.edublogs.org/files/2010/09/question-mark.jpeg'" class="banner" />

            <h2>Episodes <small>Season {{showState.seasonNumber}}</small></h2>
            <ul class='list' role='list'>
              <li class='comp' ng-repeat="episode in showState.season">
                <div>
                  <h3>{{$index + 1}}: {{episode.name}}</h3>
                  <h4>{{episode.airdate}} - {{episode.quality}}</h4>
                </div>
                <aside>
                  <h4>{{episode.status}}</h4>
                  <span class='nav'></span>
                </aside>
              </li>
            </ul>
          </div>
        </div>

        <div id="sb_search" class="tabbar-panel">
          <h2>Search</h2>
          <form ng-submit="search(query)">
            <ul ui-implements='form' class='list'>
               <li class='comp' data-goto>
                <div>
                  <label for='query'>Search query:</label>
                </div>
                <aside>
                  <input id="query" type="text" ng-model="query" autocapitalize="off" autocorrect="off" required>
                </aside>
               </li>
            </ul>
          </form>

          <div ng-show="searchResult.results.length > 0">
            <h2>Found ({{searchResult.results.length}}) results</h2>
            <ul class='list'>
              <li class='comp' ng-repeat="entry in searchResult.results" ng-click="showAddShowOptions(entry)">
                <aside>
                  <img ng-src="{{getPoster(entry)}}" height="80px" onerror="this.src='http://jmundorf.edublogs.org/files/2010/09/question-mark.jpeg'" />
                </aside>
                <div>
                  <h3>{{entry.name}}</h3>
                  <h4>{{entry.first_aired}}</h4>
                </div>
                <aside>
                  <span class='nav'></span>
                </aside>
              </li>
            </ul>
          </div>

          <div id="addShowOptions" class="hidden">
            <ul class='list'>
              <li>
                <a class='button' data-status="wanted">Wanted</a>
              </li>
              <li>
                <a class='button' data-status="skipped">Skipped</a>
              </li>
              <li>
                <a class='button' data-status="ignored">Ignored</a>
              </li>
              <li>
                <a class='button' data-status="archived">Archived</a>
              </li>
            </ul>
          </div>
        </div>

        <div id="sb_history" class="tabbar-panel">
          <h2>History</h2>

          <ul class='list' ng-show="history.length > 0">
            <li class='comp' ng-repeat="item in history">
              <aside>
                <img ng-src="{{getPoster(item)}}" height="80px" onerror="this.src='http://jmundorf.edublogs.org/files/2010/09/question-mark.jpeg'" />
              </aside>
              <div>
                <h3>{{item.show_name}} Season: {{item.season}} Episode: {{item.episode}}</h3>
                <h4>{{item.provider}} {{item.quality}}</h4>
              </div>
              <aside>
                <h4>{{item.status}}</h4>
                <span class='nav'></span>
              </aside>
            </li>
          </ul>
        </div>

        <div id="sb_stats" class="tabbar-panel">
          <h2>Stats</h2>

          <ul class='list'>
            <li class='switched'>
              <h3>Episodes downloaded</h3>
              <h4>{{stats.ep_downloaded}}</h4>
            </li>
            <li class='switched'>
              <h3>Total episodes</h3>
              <h4>{{stats.ep_total}}</h4>
            </li>
            <li class='switched'>
              <h3>Shows active</h3>
              <h4>{{stats.shows_active}}</h4>
            </li>
            <li class='switched'>
              <h3>Total shows</h3>
              <h4>{{stats.shows_total}}</h4>
            </li>
          </ul>
        </div>
      </section>
    </article>
  </div>

  <!-- CouchPotato Views -->
  <div ng-controller="CouchPotatoCtrl">
    <nav>
      <h1>CouchPotato</h1>
    </nav>
    <article id='couchpotato'>
      <section>
        <div id="cp_wanted" class="tabbar-panel">
          <h2>Wanted</h2>
        </div>
      </section>
    </article>
  </div>

  <!-- Settings Views -->
  <nav>
    <h1>Settings</h1>
  </nav>
  <article id='settings' ng-controller="ConfigCtrl">
    <section>
      <div id="settings_sabnzbd" class="tabbar-panel">
        <div id="edit" ng-show="showForm == true">
          <h2>Edit {{editServer.serverType.name}} server</h2>
          <ul ui-implements='form' class='list'>
            <li class='comp'>
              <div>
                <label for='name'>Name:</label>
              </div>
              <aside>
                <input type="text" ng-model="editServer.name" name="name" autocapitalize="off" autocorrect="off" required />
              </aside>
            </li>
            <li class='comp'>
              <div>
                <label for='hostname'>Hostname/IP:</label>
              </div>
              <aside>
                <input type="text" ng-model="editServer.host" name="hostname" autocapitalize="off" autocorrect="off" required />
              </aside>
            </li>
            <li class='comp'>
              <div>
                <label for='port'>Port:</label>
              </div>
              <aside>
                <input type="text" ng-model="editServer.port" name="port" autocapitalize="off" autocorrect="off" required />
              </aside>
            </li>
            <li class='comp'>
              <div>
                <label for='api'>API-KEY:</label>
              </div>
              <aside>
                <input type="text" ng-model="editServer.apiKey" name="api" autocapitalize="off" autocorrect="off" required />
              </aside>
            </li>
          </ul>
          <a class="button" ng-click="remove()">Delete</a>
          <a class='button action' ng-click="save()">Save</a>
        </div>

        <div id="serverList" ng-show="showForm == false">
          <h2><img src="/assets/images/sabnzbd.png" /> SABnzbd servers</h2>
          <ul class='list' data-goto id="sabnzbdSettingsList">
            <li class='nav' ng-repeat="server in sabnzbdConfigs" ng-click="edit(server, SERVERTYPE.SABNZBD)">
              <h3>{{server.name}}</h3>
              <h4>Host: <span class="u">{{server.host}}</span> on port: <span class="u">{{server.port}}</span></h4>
            </li>
          </ul>
          <div>
            <a class="button" ng-click="new(SERVERTYPE.SABNZBD)"><i class="icon-plus"></i> Add a new SABnzbd server</a>
          </div>

          <h2 class="no-margin-top"><img src="/assets/images/sickbeard.png" /> Sick Beard servers</h2>
          <ul class='list' data-goto id="sickBeardSettingsList">
            <li class='nav' ng-repeat="server in sickBeardConfigs" ng-click="edit(server, SERVERTYPE.SICKBEARD)">
              <h3>{{server.name}}</h3>
              <h4>Host: <span class="u">{{server.host}}</span> on port: <span class="u">{{server.port}}</span></h4>
            </li>
          </ul>
          <div>
            <a class="button" ng-click="new(SERVERTYPE.SICKBEARD)"><i class="icon-plus"></i> Add a new Sick Beard server</a>
          </div>

          <h2 class="no-margin-top"><img src="/assets/images/couchpotato.png" />CouchPotato servers</h2>
          <ul class='list' data-goto id="couchPotatoSettingsList">
            <li class='nav' ng-repeat="server in couchPotatoConfigs" ng-click="edit(server, SERVERTYPE.COUCHPOTATO)">
              <h3>{{server.name}}</h3>
              <h4>Host: <span class="u">{{server.host}}</span> on port: <span class="u">{{server.port}}</span></h4>
            </li>
          </ul>
          <div>
            <a class="button" ng-click="new(SERVERTYPE.COUCHPOTATO)"><i class="icon-plus"></i> Add a new CouchPotato server</a>
          </div>
        </div>
      </div>
    </section>
  </article>

  <!-- SLIDEOUT -->
  <div class="slide-out">
    <section id="slideoutInner">
      <div ng-controller="ConfigCtrl">
        <h2>Services</h2>
        <ul class="list mainnav">
          <li data-show-article="sabnzbd" ng-repeat="config in sabnzbdConfigs" ng-click="switchToSABnzbdConfig(config)">
            <h3><img src="/assets/images/sabnzbd.png" /> {{config.name}}</h3>
          </li>
          <li data-show-article="sickbeard" ng-repeat="config in sickBeardConfigs" ng-click="switchToSickBeardConfig(config)">
            <h3><img src="/assets/images/sickbeard.png" /> {{config.name}}</h3>
          </li>
          <li data-show-article="couchpotato" ng-repeat="config in couchPotatoConfigs" ng-click="switchToCouchPotatoConfig(config)">
            <h3><img src="/assets/images/couchpotato.png" /> {{config.name}}</h3>
          </li>
          <li data-show-article="settings">
            <h3><i class="icon-cogs"></i> Settings</h3>
          </li>
        </ul>
      </div>
    </section>
  </div>

  <!-- APP -->
  <script src="/assets/javascripts/sofa-control.js"></script>
  <!-- DIRECTIVES -->
  <!-- SERVICES -->
  <script src="/assets/javascripts/services/sabnzbd.js"></script>
  <script src="/assets/javascripts/services/sickbeard.js"></script>
  <script src="/assets/javascripts/services/couchpotato.js"></script>
  <!-- SERVICES: NZB Providers -->
  <script src="/assets/javascripts/services/nzb-providers/nzbindex.js"></script>
  <script src="/assets/javascripts/services/nzb-providers/nzbclub.js"></script>
  <!-- CONTROLLERS -->
  <script src="/assets/javascripts/controllers/config_controller.js"></script>
  <script src="/assets/javascripts/controllers/sabnzbd_controller.js"></script>
  <script src="/assets/javascripts/controllers/sickbeard_controller.js"></script>
  <script src="/assets/javascripts/controllers/couchpotato_controller.js"></script>
</body>
</html>
