article > section {
  height: auto;
  top: -15px;
  padding-top: 0;
}
nav.current {
  z-index: 100;
}
.hidden {
  display: none;
}
.tabbar .icon {
  font-size: 25px;
}
.sheet {
  z-index: 999;
}
a.button.back, a.button.backTo {
  padding-left: 40px;
}
.banner {
  margin: 10px auto;
  display: block;
}
.mainnav img {
  vertical-align: middle;
}
nav > h1 {
  z-index: 0;
}
h2.no-margin-top {
  margin-top: 0;
}
.u {
  text-decoration: underline;
}
.error h1 {
  text-align: center;
}
.error h2 {
  font-size: 24pt;
  text-align: center;
  overflow: visible;
  white-space: normal;
  line-height: 25pt;
}
