article > section, .slide-out > section {
  height: auto;
}
.hidden {
  display: none;
}
.tabbar .icon {
  font-size: 25px;
}
.sheet {
  z-index: 999;
}
a.button.back, a.button.backTo {
  padding-left: 40px;
}
.banner {
  margin: 10px auto;
  display: block;
}
