article > section {
  height: auto;
  top: -15px;
  padding-top: 0;
}
article > section, .slide-out > section {
  padding-bottom: 0;
}
body.hasTabBar article#settings {
  bottom: 0;
}
nav.current {
  z-index: 100;
}
.hidden {
  display: none;
}
.tabbar .icon {
  font-size: 25px;
}
.sheet {
  z-index: 999;
}
a.button.back, a.button.backTo {
  padding: 8px 0 8px 40px!important;
  z-index: 100000;
}
.banner {
  margin: 15px auto 0;
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 80px;
}
.mainnav img {
  vertical-align: middle;
}
nav > h1 {
  z-index: 0;
}
h2.no-margin-top {
  margin-top: 0;
}
.u {
  text-decoration: underline;
}
.error h1 {
  text-align: center;
}
.error h2 {
  font-size: 24pt;
  text-align: center;
  overflow: visible;
  white-space: normal;
  line-height: 25pt;
}

#couchpotato .list aside img, #couchpotato .list aside small {
  margin: 0 auto;
  display: block;
}

#couchpotato .list aside small {
  display: none;
}
